<%# BANNER SECTION  %>

<div class="navbar d-flex justify-content-end">
  <%= render 'shared/navbar' %>
</div>

<div class="section-one cover position-relative">

  <div class="banner-languages">
    <% @languages.each do |language, sym| %>
      <%= link_to root_path(locale: sym), class: "without-decoration" do %>
        <div class="icon-flag">
          <%= image_tag "#{language}.png", alt:"language flag" %>
        </div>
      <% end %>
    <% end%>
  </div>

  <div id="particles-js" class="banner"></div>
    
  <div class="container-profile banner-presentation">
    <p> 
      <%= t('.presentation') %>
    </p> 
  </div>
  <div class="container-profile d-flex banner-name">
    <h1>Will The<span style="color:#61b15a">ard</span></h1>
  </div>
  <div class="container-profile banner-about-me">
    <p>
      <%= t('.about-me') %>
    </p>
  </div>
  <div class="banner-job">
    <h2>
      <%= t('.banner-job') %>
    </h2>
  </div>
  <div class="banner-location">
    <p>
      <%= t('.location') %>
    </p> 
  </div>
</div>

<%# ABOUT SECTION  %>
  
<div class="section-two about position-relative">
  <div class="container-profile">
    <div class="row about-text align-items-center">
      <div class="about-content col-lg-8 col-md-8 col-sm-6">
        <h2>
          <%= t('.about') %>
        </h2>
        <p>
          <%= t('.about-html') %>
        </p>
        <h5 class="mb-5">
          <%= t('.work-first') %>
          <%= link_to "Grupo de Moda Soma", "https://www.somagrupo.com.br/", target: "_blank", class: "without-decoration" %>
          <%= t('.work-second') %>
        </h5>
      </div>
      <div class="mb-5 col-lg-4 col-md-4 col-sm-6">
        <%= image_tag 'profile_wht_bgrnd.png', alt:"Profile picture", class: "profile-picture d-print-none float-right" %>
      </div>
    </div>
  </div>
  <div class="custom-shape-divider-top-1612401506">
    <svg data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1200 120" preserveAspectRatio="none">
        <path d="M321.39,56.44c58-10.79,114.16-30.13,172-41.86,82.39-16.72,168.19-17.73,250.45-.39C823.78,31,906.67,72,985.66,92.83c70.05,18.48,146.53,26.09,214.34,3V0H0V27.35A600.21,600.21,0,0,0,321.39,56.44Z" class="shape-fill"></path>
    </svg>
  </div>
  <div class="custom-shape-divider-bottom-1612261414">
    <svg data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1200 119" preserveAspectRatio="none">
        <path d="M985.66,92.83C906.67,72,823.78,31,743.84,14.19c-82.26-17.34-168.06-16.33-250.45.39-57.84,11.73-114,31.07-172,41.86A600.21,600.21,0,0,1,0,27.35V120H1200V95.8C1132.19,118.92,1055.71,111.31,985.66,92.83Z" class="shape-fill"></path>
    </svg>
  </div>
</div>

<%# SECTION SKILLS %>

<div class="section-three section-skills position-relative">
  <h2 class="container-profile position-relative skills-title mt-5">
    <%= t('.skills') %>
  </h2>
  <div class="skills-notes container-profile d-flex justify-content-around my-3">
    <div class="skills-good d-flex align-items-center my-2">
      <div class="color-good skill-indicate mr-2">
      </div>
      <div class="text-good">
        <%= t('.skill-good') %>
      </div>
    </div>
    <div class="skills-midium d-flex align-items-center my-2">
      <div class="color-medium skill-indicate mr-2">
      </div>
      <div class="text-medium">
        <%= t('.skill-medium') %>
      </div>
    </div>
    <div class="skills-basic d-flex align-items-center my-2">
      <div class="color-basic skill-indicate mr-2">
      </div>
      <div class="text-basic">
        <%= t('.skill-basic') %>
      </div>
    </div>
  </div>

  <div class="container-profile pt-5">
    <i class="fas fa-code icon-skill mb-2"></i>

    <div class="row d-flex justify-content-center" data-aos="fade-down">  
      <% Skill::SKILLS.each do |skill| %>
        <% if skill[:category]=="frontend"%>
          <div class="card__collection clear-fix">
            <div class="cards  skill-content <%= skill[:level] %> cards--two">
              <svg class="img-responsive" alt="Cards Image" viewBox="0 0 128 128">
                <%= skill[:svg_path].html_safe %>
              </svg>
              <span class="cards--two__rect <%= skill[:level] %>1"></span>
              <p>
                <%= skill[:title] %>
              </p>
            </div>
          </div>
        <% end %>
      <% end %>
    </div>

    <i class="fas fa-database icon-skill mb-2 pt-5"></i>
    <div class="row d-flex justify-content-center" data-aos="fade-down">  
      <% Skill::SKILLS.each do |skill| %>
        <% if skill[:category]=="backend"%>
          <div class="card__collection clear-fix">
            <div class="cards  skill-content <%= skill[:level] %> cards--two">
              <svg class="img-responsive" alt="Cards Image" viewBox="0 0 128 128">
                <%= skill[:svg_path].html_safe %>
              </svg>
              <span class="cards--two__rect <%= skill[:level] %>1"></span>
              <p>
                <%= skill[:title] %>
              </p>
            </div>
          </div>
        <% end %>
      <% end %>
    </div>

    <i class="fas fa-laptop icon-skill mb-2 pt-5"></i>
    <div class="row d-flex justify-content-center" data-aos="fade-down">  
      <% Skill::SKILLS.each do |skill| %>
        <% if skill[:category]=="web-design"%>
          <div class="card__collection clear-fix">
            <div class="cards skill-content <%= skill[:level] %> cards--two">
              <svg class="img-responsive" alt="Cards Image" viewBox="0 0 128 128">
                <%= skill[:svg_path].html_safe %>
              </svg>
              <span class="cards--two__rect <%= skill[:level] %>1"></span>
              <p>
                <%= skill[:title] %>
              </p>
            </div>
          </div>
        <% end %>
      <% end %>
    </div>

    <i class="fas fa-wrench icon-skill mb-2 pt-5"></i>
    <div class="row d-flex justify-content-center" data-aos="fade-down">  
      <% Skill::SKILLS.each do |skill| %>
        <% if skill[:category]=="tool"%>
          <div class="card__collection clear-fix">
            <div class="cards skill-content <%= skill[:level] %> cards--two">
              <svg class="img-responsive" alt="Cards Image" viewBox="0 0 128 128">
                <%= skill[:svg_path].html_safe %>
              </svg>
              <span class="cards--two__rect <%= skill[:level] %>1"></span>
              <p>
                <%= skill[:title] %>
              </p>
            </div>
          </div>
        <% end %>
      <% end %>
    </div>

  </div>
</div>

<%# SECTION PROJECT  %>

<div class="section-four position-relative">
  <h2 class="container-profile project">
    <%= t('.project') %>
  </h2>
  <div class="row align-items-center justify-content-between">

    <div class="project-content">
      <h2>
        <%= t('.project-title') %>
      </h2>
      <p>
        <%= t('.project-text') %>
      </p>
      <ul>
        <li>AJAX</li>
        <li>SQL</li>
        <li>MVC Pattern</li>
      </ul>
    </div>

    <div class="col-lg-6 d-flex justify-content-center">

      <div class="showcase">
        <div class="card card-1">
          <%= image_tag 'first_child.jpg', alt:"Project Image", class: " image-project" %>
        </div>
        <div class="card card-2">
          <%= image_tag 'second_child.jpg', alt:"Project Image", class: " image-project" %>
        </div>
        <div class="card card-3">
          <%= image_tag 'third_child.png', alt:"Project Image", class: " image-project" %>
        </div>
      </div>

    </div>
  </div>

  <div class="custom-shape-divider-top-1612398373">
    <svg data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1200 120" preserveAspectRatio="none">
        <path d="M321.39,56.44c58-10.79,114.16-30.13,172-41.86,82.39-16.72,168.19-17.73,250.45-.39C823.78,31,906.67,72,985.66,92.83c70.05,18.48,146.53,26.09,214.34,3V0H0V27.35A600.21,600.21,0,0,0,321.39,56.44Z" class="shape-fill"></path>
    </svg>
  </div>
</div>

<%# SECTION FIVE ENTERTAINMENT %>
<div class="section-five entertainment">
  <h2 class="container-profile">
    <%= t('.entertain') %>
  </h2>
  <p class="container-profile">
    <%= t('.entertain-text') %> <br />
    <%= t('.entertain-text-2') %> <br />
    <%= t('.entertain-text-3') %>
  </p>
  <h3 class="container-profile"><%= t('.entertain-social') %> <a href="https://open.spotify.com/playlist/37i9dQZF1E36zKKdHVALkW" target="_blank" aria-label="about my spotify" class="icon-contact without-decoration"><i class="fab fa-spotify"></i> </a> <%= t('.entertain-social-2') %></h3>

  <ul class="container-profile mt-5">
    <li><span class="tick"></span><a target="_blank" href="https://genius.com/albums/John-mayer/Continuum" aria-label="Read more about that song" >Continuum</a></li>
    <li class="checked"><span class="tick"></span><a target="_blank" href="https://genius.com/albums/Kendrick-lamar/Good-kid-m-a-a-d-city-deluxe-0version" aria-label="Read more about that song">Good Kid Mad City</a></li>
    <li><span class="tick"></span><a target="_blank" href="https://genius.com/albums/Alicia-keys/Songs-in-a-minor" aria-label="Read more about that song">Songs In a Minor</a></li>
    <li class="checked"><span class="tick"></span><a target="_blank" href="https://genius.com/albums/Stromae/Racine-carree" aria-label="Read more about that song">Racine Carrée</a></li>
    <li class="checked"><span class="tick"></span><a target="_blank" href="https://genius.com/albums/2pac/Me-against-the-world" aria-label="Read more about that song">Me Against the World</a></li>
    <li class="checked"><span class="tick"></span><a target="_blank" href="https://genius.com/albums/Baco-exu-do-blues/Bluesman" aria-label="Read more about that song">Bluesman</a></li>
    <li><span class="tick"></span><a target="_blank" href="https://en.wikipedia.org/wiki/Un_tour_ensemble" aria-label="Read more about that song">Un Tour Ensemble</a></li>
    <li><span class="tick"></span><a target="_blank" href="https://genius.com/Zenglen-5-kontinan-lyrics#primary-album" aria-label="Read more about that song">Let it Groove</a></li>
    <li class="checked"><span class="tick"></span><a target="_blank" href="https://genius.com/Barikad-crew-goumen-pou-saw-kwe-lyrics#primary-album" aria-label="Read more about that song">Goumen Pou saw kwè</a></li>
    <li><span class="tick"></span><a target="_blank" href="https://genius.com/albums/La-fouine/Aller-retour" aria-label="Read more about that song">Aller Retour</a></li>
    <li><span class="tick"></span><a target="_blank" href="https://genius.com/albums/John-mayer/Continuum" aria-label="Read more about that song">Noir Désir</a></li>
    <li><span class="tick"></span><a target="_blank" href="https://genius.com/albums/Michael-jackson/Invincible" aria-label="Read more about that song">Invincible</a></li>
    <li class="checked"><span class="tick"></span><a target="_blank" href="https://genius.com/albums/Kanye-west/My-beautiful-dark-twisted-fantasy" aria-label="Read more about that song">My Beautiful Dark Twisted Fantasy</a></li>
    <li><span class="tick"></span><a target="_blank" href="https://genius.com/albums/Dave/Psychodrama" aria-label="Read more about that song">Psychodrama</a></li>
    <li><span class="tick"></span><a target="_blank" href="https://genius.com/albums/Fababy/La-force-du-nombre" aria-label="Read more about that song">La Force du Nombre</a></li>
    <li><span class="tick"></span><a target="_blank" href="https://genius.com/albums/Scylla/Masque-de-chair" aria-label="Read more about that song">Masque de Chair</a></li>
    <li><span class="tick"></span><a target="_blank" href="https://genius.com/albums/Lino/Requiem" aria-label="Read more about that song">Requiem</a></li>
    <li><span class="tick"></span><a target="_blank" href="https://genius.com/albums/John-steve-brunache/Chimen-limye-remastered" aria-label="Read more about that song">Chimen Limyè</a></li>
    <li><span class="tick"></span><a target="_blank" href="https://www.shazam.com/artist/41380788/rodrigue-milien" aria-label="Read more about that song">Les Meilleurs Boléros d´haiti</a></li>
    <li><span class="tick"></span><a target="_blank" href="https://genius.com/albums/The-notorious-big/Life-after-death" aria-label="Read more about that song">Life after Death</a></li>
    <li><span class="tick"></span><a target="_blank" href="https://genius.com/Fugees-the-score-lyrics" aria-label="Read more about that song">The Score</a></li>
    <li><span class="tick"></span><a target="_blank" href="https://konpa.info/detail.php?search=101466&so0=is&col=kno&_ds=1&p=0" aria-label="Read more about that song">Les titres d'or</a></li>  
    <li><span class="tick"></span><a target="_blank" href="https://genius.com/albums/Kanye-west/Late-registration" aria-label="Read more about that song" >Late Registration</a></li>
    <li><span class="tick"></span><a target="_blank" href="https://genius.com/albums/John-mayer/Continuum" aria-label="Read more about that song" >Continuum</a></li>
    <li><span class="tick"></span><a target="_blank" href="https://genius.com/albums/John-mayer/Continuum" aria-label="Read more about that song" >Continuum</a></li>
    <li><span class="tick"></span><a target="_blank" href="https://genius.com/albums/John-mayer/Continuum" aria-label="Read more about that song" >Continuum</a></li>
    <li><span class="tick"></span><a target="_blank" href="https://genius.com/albums/John-mayer/Continuum" aria-label="Read more about that song" >Continuum</a></li>
    <li><span class="tick"></span><a target="_blank" href="https://genius.com/albums/John-mayer/Continuum" aria-label="Read more about that song" >Continuum</a></li>
    <li><span class="tick"></span><a target="_blank" href="https://genius.com/albums/John-mayer/Continuum" aria-label="Read more about that song" >Continuum</a></li>
    <li><span class="tick"></span><a target="_blank" href="https://genius.com/albums/John-mayer/Continuum" aria-label="Read more about that song" >Continuum</a></li>
    <li><span class="tick"></span><a target="_blank" href="https://genius.com/albums/John-mayer/Continuum" aria-label="Read more about that song" >Continuum</a></li>
    <li><span class="tick"></span><a target="_blank" href="https://genius.com/albums/John-mayer/Continuum" aria-label="Read more about that song" >Continuum</a></li>        
  </ul>

  <div class="custom-shape-divider-top-1612619083">
    <svg data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1200 120" preserveAspectRatio="none">
        <path d="M321.39,56.44c58-10.79,114.16-30.13,172-41.86,82.39-16.72,168.19-17.73,250.45-.39C823.78,31,906.67,72,985.66,92.83c70.05,18.48,146.53,26.09,214.34,3V0H0V27.35A600.21,600.21,0,0,0,321.39,56.44Z" class="shape-fill"></path>
    </svg>
  </div>
</div>

<%# SECTION SIX FOOTER  %>
<div class="section-six footer">
  <div class="footer-content container-profile">
    <p>Copyleft © 2021</p>
    <p> <%= t('.footer-mention-1') %> — <a href="https://github.com/will3685/personal-site" aria-label="access my contact" class="without-decoration" target="_blank">open sourced</a>.</p>
    <p> <%= t('.footer-mention-2') %> </p>
  </div>

  <div class="footer-contact row justify-content-center" >
    <div >
      <a href="https://www.linkedin.com/in/will-theard-788683b7/" aria-label="access my contact" target="_blank" class="icon-contact-1 mx-3">
        <i class="fab fa-linkedin"></i>
      </a>
    </div>
    <div>
      <a href="https://github.com/will3685" aria-label="access my contact" target="_blank" class="icon-contact-1 mx-3">
        <i class="fab fa-github-square"></i>
      </a>
    </div>
    <div>
      <a href="mailto:lavardwilltheard@poli.ufrj.br" aria-label="access my contact" target="_blank" class="icon-contact-1 mx-3">
        <i class="fas fa-at"></i>
      </a>
    </div>
  </div>

</div>







